<!DOCTYPE html>
<html>

<head>
    <title>we makin some tasks</title>
</head>

<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <text></text>
                <date></date>
                <checkbox></checkbox>
                <list></list>
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>
