<!DOCTYPE html>
<html>

<head>
    <title>
        double smack
    </title>
</head>

<body>
    <header>
        <a href="{% url 'todo_list_list' %}">Home</a>
    </header>
    <main>
        <div>
            <h1>{{ detail_list.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' detail_list.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' detail_list.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thread>
                    <tr>
                        <th>Task</th>
                        <th> </th>
                        <th>Due date</th>
                    </tr>
                </thread>
                <tbody>
                    {% for item in detail_list.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' item.list.id %}">{{ item.task }}</a>
                        </td>
                        <td></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
